h1, h2, h3, h4, h5, h6, p, li, ul, a {
    color: white;
}

body {
    background: #151515;
}

.button--accent {
    background: linear-gradient(to right, #ef3d37 0%, #b80a53 100%);
}

.header {
    background: #000000;
}

.movie__title, .movie__views {
    color: #a9a9a9;
}

.movie__likes {
    color: #28b47e;
}

.footer {
    background: #242424;
}

.footer__social-icon {
    color: #a2abaf;
}

.footer__social-icon:hover {
    color: #FFF;
}

.icon-facebook:hover {
    background: #3B5998;
}

.icon-twitter:hover {
    background: #55ACEE;
}

.icon-google:hover {
    background: #DD4B39;
}


.footer__copyrights-text {
    color: #7e7e7e;
}

.border--top {
    border-top: 1px solid #424242;
}

.navigation__link:after {
    background: linear-gradient(to right, #ef3d37 0%, #b80a53 100%);
    color: transparent;
}

.navigation__link:hover {
    color: #ef3d37;
}
