@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.main {
    background: lightgray;
}

.footer {
    background: lightgreen;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3.4rem;
    font-weight: 600;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 96%;
}

.button--accent {
    border-radius: 20px;
    min-width: 130px;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

a {
    text-decoration: none;
}

.header__navbar {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__link {
    margin-left: 16px;
}

.header__featured {
    align-items: flex-end;
    display: flex;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.featured__video {
    position: absolute;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.featured__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    position: relative;
    width: 50%;
    z-index: 1;
}

.featured__link {
    margin-top: 15px;
}

.category {
    margin: 100px 0;
}

.category__items {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    row-gap: 40px;
}