@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

.main {
    background: lightgray;
}

.footer {
    background: lightgreen;
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 96%;
}

a {
    text-decoration: none;
}

.header__navbar {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__link {
    margin-left: 16px;
}

.header__featured {
    align-items: flex-end;
    display: flex;
    height: 650px;
    overflow: hidden;
}